<section class="nav_bar" id="nav">
  <nav>
      <div class="logo">StudentRepo</div>
      <label for="btn" class="icon"><span class="fas fa-bars"></span></label>
      <input class="navcheck" type="checkbox" id="btn">
      <ul>
          <li><a routerLink="/home">Home Page</a></li>
          <li><a routerLink="/studentpf">Student Profile</a></li>
          <li><a routerLink="/form">Form</a></li>
          <li>
              <a>About Project</a>
              <label for="btn-1" class="show">About Project +</label>
              <input class="navcheck" type="checkbox" id="btn-1">
              <ul style="z-index: 2;">
                  <li><a routerLink="/objective">Objectives</a></li>
                  <li><a routerLink="/built">Built By</a></li>
              </ul>
          </li>
      </ul>
  </nav>
</section>

<section>
  <div class="wrapper" style= "margin-top: -12vh;">
    <div class="table-container" style="margin-top: 8vw; margin-left: 8vw; margin-right: 8vw; background-color: rgb(255, 255, 255); border: 9px solid rgb(23, 162, 167);">
      <div class="titile_insertbtn" style="display: flex; flex-direction: row; padding: 3vw;">
        <div class="navbar navbar-light bg-primary" style="width: 50%;">
          <div class="container-fluid" style="background-color: rgb(32, 255, 255);">
              <h1>Input Form</h1>
          </div>
        </div>
        <div class="d-flex" style="margin-left: 25vw; height: 3.7vw;">
          <button (click)="clickAddStudent()"  type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success">Insert Student</button>
        </div>
      </div>
      <div class="input-group mb-3" style="margin-left: 6vw;">
        <input style="width: 70%;" type="text" class="formControl" [(ngModel)]="searchId" placeholder="Enter ID you want to search" aria-label="Recipient's username" aria-describedby="button-addon2" >
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="searchById()">Search</button>
      </div>
  
      
      <div class="data_student_container" style="margin-top: 2vw; margin-left: 6vw; margin-right: 5vw; background-color: rgb(198, 252, 252);">
        <!--create table-->
        <table class="table mt-3">
          <thead>
              <tr>
                  <th scope="col">Student ID</th>
                  <th scope="col">Student Name</th>
                  <th scope="col">Student Age</th>
                  <th scope="col">Student Department</th>
                  <th scope="col">Student Province</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let row of studentData">
                  <td>{{row.id}}</td>
                  <td>{{row.name}}</td>
                  <td>{{row.age}}</td>
                  <td>{{row.department}}</td>
                  <td>{{row.province}}</td>
                  <td>
                      <button (click)="onEdit(row)" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-info">Edit</button>
                      <button (click)="deleteStudent(row)" class="btn btn-danger mx-3">Delete</button>
                  </td>
              </tr>
          </tbody>
        </table>
  
  
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Student Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <form [formGroup] = "formValue">
  
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Student ID</label>
                      <input type="number" formControlName="id" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Student Name</label>
                      <input type="text" formControlName="name" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Student Age</label>
                        <input type="number" formControlName="age" class="form-control" id="exampleInputPassword1">
                      </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Student Department</label>
                        <input type="text" formControlName="department" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Student Province</label>
                        <input type="text" formControlName="province" class="form-control" id="exampleInputPassword1">
                    </div>
                  </form>
              </div>
              <div class="modal-footer">
                <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" *ngIf="showAdd" (click)="postStudentDetails()" class="btn btn-primary">Add</button>
                <button type="button" *ngIf="showUpdate" (click)="updateStudentDetails()" class="btn btn-primary">Update</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
</section>
